*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
iframe{ 
  min-width: 350px !important;
  min-height: 250px !important;
  height: 62.5vh !important;
  width: 70vw !important;
}